html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f5f5f5;
  position: relative;
}
canvas {
  display: block;
  margin: 0;
}
.link {
  color: #555;
  bottom: 12px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  position: fixed;
  right: 12px;
}
.link a {
  color: #555;
}
.link .heart {
  font-family: none;
  color: #e1264c;
}
